<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>O.o</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>
<body>

	<h1>Object.observe()</h1>

	<div class="form-group">
		<label>Nombre</label>
		<input type="text" class="form-control" data-ng-model="firstName">
	</div>

	<div class="form-group">
		<label>Apellido</label>
		<input type="text" class="form-control" data-ng-model="lastName">
	</div>

	<div class="form-group">
		<label>Edad</label>
		<input type="number" class="form-control" data-ng-model="age">
	</div>

	<div class="form-group">
		<label>Email</label>
		<input type="email" class="form-control" data-ng-model="email">
	</div>

	<div class="form-group">
		<label>Casa</label>
		<select class="form-control" data-ng-model="house">
			<option value="Lannister">Lannister</option>
			<option value="Stark">Stark</option>
			<option value="Targaryen">Targaryen</option>
			<option value="Greyjoy">Greyjoy</option>
		</select>
	</div>

	<div class="jumbotron">
		<dl>
			<dt>Nombre</dt>
			<dd>
				<span data-ng-model="firstName"></span>
				<span data-ng-model="lastName"></span>
			</dd>
			<dt>Edad</dt>
			<dd>
				<span data-ng-model="age"></span>
			</dd>
			<dt>Email</dt>
			<dd>
				<span data-ng-model="email"></span>
			</dd>
			<dt>Color</dt>
			<dd>
				<span data-ng-model="house"></span>
			</dd>
		</dl>
	</div>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="oo.js"></script>

</body>
</html>